<div class="container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha" [value]="request.fecha" />
  </mat-form-field>

  <div class="row">
    <div class="col-5">
      <div class="md-form">
        <textarea
          type="text"
          id="form7"
          class="md-textarea md-textarea-auto form-control"
          mdbInput
          [(ngModel)]="request.textoUDIS"
        ></textarea>
        <label for="form7">Pegar tabla de UDIS</label>
      </div>
      <button *ngIf="!id_request" type="button" class="btn btn-primary" (click)="newLoadUdis()">
        Guardar
      </button>
      <app-link
        *ngIf="id_request && !hasLink"
        (hasLink)="hasLink = $event"
        [id_request]="id_request"
      ></app-link>
    </div>
    <div class="col-5">
      <pre>
        {{ request | json }}
      </pre>
    </div>
  </div>
</div>
