<div class="container is-fluid">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <figure class="image is-256x128">
              <img src="assets/img/logo_racoo.png" />
            </figure>

            <div *ngIf="!ok" class="notification is-danger">
              <button (click)="notShow()" class="delete"></button>
              {{ msg }}
            </div>

            <br />

            <div class="box">
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input
                      class="input"
                      name="username"
                      type="username"
                      placeholder="Nombre de Usuario"
                      ngModel
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input
                      class="input"
                      name="password"
                      type="password"
                      placeholder="Password"
                      ngModel
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button type="submit" class="button is-success">
                      Login
                    </button>
                  </p>
                </div>
              </form>
            </div>

            <p class="has-text-login">
              <a href="#">Sign Up</a> &nbsp;·&nbsp;
              <a href="#">Forgot Password</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
