<div class="container">
  <div class="col-md-5 offset-md-3">
    <mat-card class="example-card">
      <div class="text-center">
        <img
          src="assets/img/logo_racoo.png"
          class="rounded"
          alt="logo_racoo"
          width="250px"
        />
      </div>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="md-form">
          <input
            mdbInput
            type="text"
            id="username"
            name="username"
            class="form-control"
            ngModel
          />
          <label for="username">Nombre de Usuario</label>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="password"
            id="password"
            name="password"
            class="form-control"
            ngModel
          />
          <label for="password">Contraseña</label>
        </div>
        <button type="submit" mdbBtn color="success" mdbWavesEffect>
          Iniciar Sesión
        </button>
        <button type="button" mdbBtn color="link" (click)="register()">
          Registrarse
        </button>
      </form>
    </mat-card>
  </div>
</div>
