.container {
  margin-top: 5%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button-file {
  margin: 2% 0;
}

.select-width {
  width: 100%;
}
