<div class="container">
  <h3>
    <strong>Cargar nuevo INPC</strong>
  </h3>
  <div class="row">
    <div class="col-5">
      <form class="example-form">
        <div>
          <mat-form-field class="select-width">
            <mat-label>Mes</mat-label>
            <mat-select [value]="info[0].valores[0].nombre">
              <mat-option *ngFor="let mes of meses" value="{{ mes.valor }}">
                {{ mes.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="text"
            class="form-control"
            name="dof"
            [(ngModel)]="info[0].where[1].valor"
          />
          <label>dof</label>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="text"
            class="form-control"
            name="año"
            [(ngModel)]="info[0].where[0].valor"
          />
          <label>Año</label>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="text"
            class="form-control"
            name="inpc"
            [(ngModel)]="info[0].valores[0].valor"
          />
          <label>INPC</label>
        </div>
        <button
          *ngIf="!id_request"
          type="submit"
          mdbBtn
          color="primary"
          mdbWavesEffect
          (click)="newRequest()"
        >
          Guardar
        </button>
      </form>
      <app-link
        *ngIf="id_request && !hasLink"
        (hasLink)="hasLink = $event"
        [id_request]="id_request"
      ></app-link>
      <p>
        <small>{{ id_request }}</small>
      </p>
    </div>
    <div class="col-5 offset-md-2">
      <div>
        <mat-tab-group
          (selectedTabChange)="requestsForStatus($event.index + 1)"
        >
          <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>{{ tab.label }}</ng-template>
            <ul
              *ngIf="!loadingList"
              class="list-group list-group-flush pointer"
            >
              <li
                class="list-group-item list-group-item-action"
                *ngFor="let request of requests"
              >
                <div (click)="catchRequest(request)">
                  <b>id:</b> {{ request.solicitude_id }} <b>rev1:</b>
                  {{ request.usuario_id_revision_1 }} <b>rev2:</b>
                  {{ request.usuario_id_revision_2 }} <b>aprov:</b>
                  {{ request.usuario_id_aprobado }} <b>cat-id:</b>
                  {{ request.cat_solicitude_id }}
                </div>
              </li>
            </ul>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
