<div class="container">
  <h3>
    <strong>Cargar nuevo INPC</strong>
  </h3>
  <div class="row">
    <div class="col-5">
      <form class="example-form">
        <div>
          <mat-form-field class="select-width">
            <mat-label>Mes</mat-label>
            <mat-select [value]="info[0].valores[0].nombre">
              <mat-option *ngFor="let mes of meses" value="{{ mes.valor }}">
                {{ mes.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="text"
            class="form-control"
            name="dof"
            [(ngModel)]="info[0].where[1].valor"
          />
          <label>dof</label>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="text"
            class="form-control"
            name="año"
            [(ngModel)]="info[0].where[0].valor"
          />
          <label>Año</label>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="text"
            class="form-control"
            name="inpc"
            [(ngModel)]="info[0].valores[0].valor"
          />
          <label>INPC</label>
        </div>
        <button
          *ngIf="!id_request"
          type="submit"
          mdbBtn
          color="primary"
          mdbWavesEffect
          (click)="newRequest()"
        >
          Guardar
        </button>
      </form>
      <button
        *ngIf="id_request && !hasLink"
        type="button"
        mdbBtn
        color="success"
        mdbWavesEffect
        (click)="basicModal.show()"
      >
        Nuevo Enlace
      </button>
      <p>
        <small>{{ id_request }}</small>
      </p>

      <!--Modal de enlace nuevo-->
      <div
        mdbModal
        #basicModal="mdbModal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myBasicModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="basicModal.hide()"
              >
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">Nuevo Enlace</h4>
            </div>
            <div class="modal-body">
              <form>
                <div>
                  <select
                    class="browser-default custom-select"
                    name="tipo"
                    [(ngModel)]="enlace.tipo"
                  >
                    <option value="doc">Documento</option>
                    <option value="link">Link</option>
                  </select>
                </div>
                <div>
                  <input
                    type="file"
                    class="button-file"
                    name="file"
                    [(ngModel)]="enlace.file"
                  />
                </div>
                <div class="md-form">
                  <input
                    mdbInput
                    type="text"
                    class="form-control"
                    name="enlace"
                    [(ngModel)]="enlace.enlace"
                  />
                  <label>Enlace</label>
                </div>
                <div class="md-form">
                  <textarea
                    type="text"
                    id="form7"
                    class="md-textarea form-control"
                    name="descripcion"
                    [(ngModel)]="enlace.descripcion"
                    mdbInput
                  ></textarea>
                  <label for="form7">Descripcion</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                mdbBtn
                color="primary"
                class="relative waves-light"
                mdbWavesEffect
                (click)="newLink(); basicModal.hide()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 offset-md-2">
      <mdb-icon
        far
        icon="eye"
        class="puntero"
        (click)="isShowRequests = !isShowRequests"
      ></mdb-icon>
      <div *ngIf="isShowRequests">
        <h3>Pendientes por aprobar</h3>
        <ul>
          <li *ngFor="let request of requests">
            <div (click)="catchRequest(request)">
              <b>id:</b> {{ request.solicitude_id }} <b>rev1:</b>
              {{ request.usuario_id_revision_1 }} <b>rev2:</b>
              {{ request.usuario_id_revision_2 }} <b>aprov:</b>
              {{ request.usuario_id_aprobado }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
