<div class="container">
  <div *ngIf="loading" class="row">
    <div class="col-2 offset-md-5">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="col-4 offset-md-1">
      <button mat-icon-button color="primary">
        <mdb-icon
          fas
          icon="pencil-alt"
          size="2x"
          (click)="editFields()"
        ></mdb-icon>
      </button>
      <button mat-icon-button color="accent" (click)="revision()">
        <mdb-icon fas icon="angle-double-right" size="2x"></mdb-icon>
      </button>
      <button mat-icon-button color="warn" (click)="basicModal.show()">
        <mdb-icon fas icon="ban" size="2x"></mdb-icon>
      </button>
      <div class="inpc-form">
        <form class="example-form">
          <div>
            <mat-form-field class="select-width">
              <mat-label>Mes</mat-label>
              <mat-select
                [value]="info[0].valores[0].nombre"
                [disabled]="isEditable"
              >
                <mat-option *ngFor="let mes of meses" value="{{ mes.valor }}">
                  {{ mes.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="md-form">
            <input
              mdbInput
              type="text"
              class="form-control"
              name="dof"
              [(ngModel)]="info[0].where[1].valor"
              [ngClass]="{ disabled: isEditable }"
            />
            <label>dof</label>
          </div>
          <div class="md-form">
            <input
              mdbInput
              type="text"
              class="form-control"
              name="año"
              [(ngModel)]="info[0].where[0].valor"
              [ngClass]="{ disabled: isEditable }"
            />
            <label>Año</label>
          </div>
          <div class="md-form">
            <input
              mdbInput
              type="text"
              class="form-control"
              name="inpc"
              [(ngModel)]="info[0].valores[0].valor"
              [ngClass]="{ disabled: isEditable }"
            />
            <label>INPC</label>
          </div>
          <button
            *ngIf="!isEditable"
            type="submit"
            mdbBtn
            color="primary"
            mdbWavesEffect
            (click)="newRequest()"
          >
            Modificar
          </button>
        </form>
      </div>

      <!-- Modal negacion-->
      <div
        mdbModal
        #basicModal="mdbModal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myBasicModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="basicModal.hide()"
              >
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">
                Descripción de la cancelacion
              </h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="md-form">
                  <textarea
                    type="text"
                    id="form7"
                    class="md-textarea form-control"
                    name="descripcion"
                    [(ngModel)]="negacion.descripcion"
                    mdbInput
                  ></textarea>
                  <label for="form7">Descripción</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                mdbBtn
                color="danger"
                class="relative waves-light"
                mdbWavesEffect
                (click)="negation(); basicModal.hide()"
              >
                Cancelar solicitud
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-m5">
      <p>
        r1: {{ request.usuario_id_revision_1 }} r2:
        {{ request.usuario_id_revision_2 }} ap:
        {{ request.usuario_id_aprobado }}
      </p>
      <span *ngIf="links.length <= 0">No hay enlaces en la solicitud</span>
      <ul>
        <li *ngFor="let link of links">
          <b>Tipo:</b> {{ link.tipo }} <b>Descripcion:</b>
          {{ link.descripcion }}
          <a [href]="link.enlace" target="_blank">enlace</a>
        </li>
      </ul>
      <div
        *ngFor="let negation of negations"
        class="alert alert-danger"
        role="alert"
      >
        {{ negation.descripcion }}
        <p class="p-alert">
          <b>Fecha:</b> {{ negation.fecha_creacion | date: "shortDate" }}
        </p>
      </div>
    </div>
  </div>
</div>
