<div class="container">
  <div *ngIf="loading" class="row">
    <div class="col-2 offset-md-5">
      <app-loading></app-loading>
    </div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="col-4 offset-md-1">
      <app-edit (isEditable)="editFields($event)"></app-edit>
      <app-advance (updateData)="getRequest()" [id]="id"></app-advance>
      <app-cancel [id]="id"></app-cancel>
      <div class="inpc-form">
        <form class="example-form">
          <div>
            <mat-form-field class="select-width">
              <mat-label>Mes</mat-label>
              <mat-select
                [value]="info[0].valores[0].nombre"
                [disabled]="isEditable"
              >
                <mat-option *ngFor="let mes of meses" value="{{ mes.valor }}">
                  {{ mes.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="md-form">
            <input
              mdbInput
              type="text"
              class="form-control"
              name="dof"
              [(ngModel)]="info[0].where[1].valor"
              [ngClass]="{ disabled: isEditable }"
            />
            <label>dof</label>
          </div>
          <div class="md-form">
            <input
              mdbInput
              type="text"
              class="form-control"
              name="año"
              [(ngModel)]="info[0].where[0].valor"
              [ngClass]="{ disabled: isEditable }"
            />
            <label>Año</label>
          </div>
          <div class="md-form">
            <input
              mdbInput
              type="text"
              class="form-control"
              name="inpc"
              [(ngModel)]="info[0].valores[0].valor"
              [ngClass]="{ disabled: isEditable }"
            />
            <label>INPC</label>
          </div>
          <button
            *ngIf="!isEditable"
            type="submit"
            mdbBtn
            color="primary"
            mdbWavesEffect
            (click)="newRequest()"
          >
            Modificar
          </button>
        </form>
      </div>
    </div>
    <div class="col-m5">
      <p>
        r1: {{ request.usuario_id_revision_1 }} r2:
        {{ request.usuario_id_revision_2 }} ap:
        {{ request.usuario_id_aprobado }}
      </p>
      <app-links [id]="id"></app-links>
      <app-cancels [id]="id"></app-cancels>
    </div>
  </div>
</div>
