<div class="container">
  <div *ngIf="loading" class="row">
    <div class="col-2 offset-md-5">
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="col-4 offset-md-1">
      <p><b>Mes</b>: {{ info[0].valores[0].nombre }}</p>
      <p><b>INPC</b>: {{ info[0].valores[0].valor }}</p>
      <p><b>Año</b>: {{ info[0].where[0].valor }}</p>
      <p><b>DOF</b>: {{ info[0].where[1].valor }}</p>
      <button
        *ngIf="request.usuario_id_revision_1 === '0'"
        type="button"
        color="primary"
        class="relative waves-light"
        mdbBtn
        mdbWavesEffect
        (click)="revision()"
      >
        1er Revision
      </button>
      <button
        *ngIf="
          request.usuario_id_revision_2 === '0' &&
          request.usuario_id_revision_1 !== '0'
        "
        type="button"
        color="primary"
        class="relative waves-light"
        mdbBtn
        mdbWavesEffect
        (click)="revision()"
      >
        2da Revision
      </button>
      <button
        *ngIf="usuario_id_aprobado === '0'"
        type="button"
        color="primary"
        class="relative waves-light"
        mdbBtn
        mdbWavesEffect
        (click)="revision()"
      >
        Aprobacion
      </button>
      <button
        type="button"
        color="danger"
        class="relative waves-light"
        mdbBtn
        mdbWavesEffect
      >
        Denegar Solicitud
      </button>
    </div>
    <div class="col-m5">
      <p>
        r1: {{ request.usuario_id_revision_1 }} r2:
        {{ request.usuario_id_revision_2 }} ap:
        {{ request.usuario_id_aprobado }}
      </p>
      <ul>
        <li *ngFor="let link of links">
          <b>Tipo:</b> {{ link.tipo }} <b>Descripcion:</b>
          {{ link.descripcion }}
          <a [href]="link.enlace" target="_blank">enlace</a>
        </li>
      </ul>
    </div>
  </div>
</div>
