<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark blue"
  *ngIf="isAuthenticated()"
>
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['home']">
      <img src="assets/img/logo_racoo.png" height="30" alt="logo_racoo" />
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['inpc']">
          INPC
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['udis']">
          UDIS
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['recargos']">
          Recargos
        </a>
      </li>
    </ul>
    <button
      mdbBtn
      type="button"
      color="danger"
      size="sm"
      mdbWavesEffect
      (click)="logout()"
    >
      Cerrar Sesión
    </button>
  </links>
</mdb-navbar>
